.category {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: 0;
}

.articleTitle {
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 10rem;
}
.articleContent {
  border: none;
  width: 100%;
  font-size: 2rem;
}
