nav {
  display: flex;
  position: fixed;
  height: 100px;
  width: 100vw;
  top: 0;
  align-items: center;
}

#hidden-menu {
  display: none;
}

#logo {
<<<<<<< HEAD
  width: 18%;
=======
>>>>>>> 2ee0e09ced789bb8e7e035cb846e0a375680a2e1
  margin-left: 7rem;
  flex-shrink: 0;
}

#nav-menu {
  display: flex;
  list-style-type: none;
  font-size: 2rem;
}

#nav-menu li {
  margin: 0 2rem;
}

#btn-position {
  position: fixed;
  right: 2rem;
}

#btn-position button {
  margin: 0 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

@media all and (max-width: 1300px) {
  nav * {
    display: none;
  }
  nav {
    justify-content: flex-end;
  }
}
